.card {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 25%;
  top: 5%;
  width: 50%;
  height: 80%;
  overflow: auto;
  background-color: lightgrey;
  border-radius: 10px;
  padding: 1rem;
}

#comment {
  width: 50%;
}

textarea,
#title {
  width: 25%;
}

.multiLine {
  white-space: pre-wrap;
}